@media (max-width: 900px) {
    .main{
        grid-template-columns: 1fr;
    }
}

.box{
    align-items: center;
    margin: 250px;
    /* max-width: 800px; */
    padding: 50px 100px;
    background-color: gray;
    opacity: 0.85;
}

.text{
    text-align: center;
    opacity: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-display: block;    
}

button{
    /* height: 50px;
    width: 70px; */
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
}

.login-page{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1), rgba(9,9,121,1), rgb(13, 134, 158));
}

.login-box{
    text-align: center;
    /* display: flexbox; */
    background-color: lightblue;
    height: 450px;
    width: 420px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 25px;
    padding-bottom: 50px;
    opacity: 0.89;
    background-color: rgb(167, 167, 167);
    
}

.input{
    text-align: left;
    display: grid;
    padding: auto;
    margin: 10px;
    font-size: 20px;
}

.input input{
    padding: 10px;
    size: 8px;
    background-color: white;
}

.button{
    display: grid;
    margin-top: 18px;
    transition: 0.6s;
}

button:hover{
    background-color: rgb(11, 11, 47);
    color: white;
    transform: scale(105%);
}

.image{
    height: 100px;
    width: 100px;
}

button{
    width: 1fr;
}
a:visited{

    color: inherit;

}
